
# Example 01

In [19]:
import pandas as pd
import numpy as np

StuDict={"Name": ["Aqsa","Esha", "Ayesha", "Ayra", "Arfa", "Afsa", "Abdul", "Saadia", "Abu Bakar","Atif"],
"ID": ["SID-1","SID-2", "SID-3", "SID-4", "SID-5","SID-6", "SID-7", "SID-8", "SID-9","SID-10"],
"Rol1_no": [1,2,3,4,5,6,7,8,9,10],
"Semester" : [7,7,7,7,6,6,6,5,8,8]}

StuDict

{'Name': ['Aqsa',
  'Esha',
  'Ayesha',
  'Ayra',
  'Arfa',
  'Afsa',
  'Abdul',
  'Saadia',
  'Abu Bakar',
  'Atif'],
 'ID': ['SID-1',
  'SID-2',
  'SID-3',
  'SID-4',
  'SID-5',
  'SID-6',
  'SID-7',
  'SID-8',
  'SID-9',
  'SID-10'],
 'Rol1_no': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'Semester': [7, 7, 7, 7, 6, 6, 6, 5, 8, 8]}

In [5]:
data=pd.DataFrame (StuDict)

print(data)

print("\n\nThe data type of above given syntax is :",type (data))

        Name      ID  Rol1_no  Semester
0       Aqsa   SID-1        1         7
1       Esha   SID-2        2         7
2     Ayesha   SID-3        3         7
3       Ayra   SID-4        4         7
4       Arfa   SID-5        5         6
5       Afsa   SID-6        6         6
6      Abdul   SID-7        7         6
7     Saadia   SID-8        8         5
8  Abu Bakar   SID-9        9         8
9       Atif  SID-10       10         8


The data type of above given syntax is : <class 'pandas.core.frame.DataFrame'>


# Example 02

In [6]:
print(data.describe())

        Rol1_no   Semester
count  10.00000  10.000000
mean    5.50000   6.700000
std     3.02765   0.948683
min     1.00000   5.000000
25%     3.25000   6.000000
50%     5.50000   7.000000
75%     7.75000   7.000000
max    10.00000   8.000000

# Example 03

In [7]:
print(data.head())

     Name     ID  Rol1_no  Semester
0    Aqsa  SID-1        1         7
1    Esha  SID-2        2         7
2  Ayesha  SID-3        3         7
3    Ayra  SID-4        4         7
4    Arfa  SID-5        5         6


# Example 04

In [8]:
print(data.tail())

        Name      ID  Rol1_no  Semester
5       Afsa   SID-6        6         6
6      Abdul   SID-7        7         6
7     Saadia   SID-8        8         5
8  Abu Bakar   SID-9        9         8
9       Atif  SID-10       10         8

# Example 05

In [9]:


print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      10 non-null     object
 1   ID        10 non-null     object
 2   Rol1_no   10 non-null     int64
 3   Semester  10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes
None


# Example 06

In [10]:
data.to_csv('student.csv')


# Example 07

In [11]:
data.to_csv('Without_index.csv', index=False)


# Example 08

In [12]:
df = pd.read_csv('student.csv')
df

   Unnamed: 0       Name      ID  Rol1_no  Semester
0           0       Aqsa   SID-1        1         7
1           1       Esha   SID-2        2         7
2           2     Ayesha   SID-3        3         7
3           3       Ayra   SID-4        4         7
4           4       Arfa   SID-5        5         6
5           5       Afsa   SID-6        6         6
6           6      Abdul   SID-7        7         6
7           7     Saadia   SID-8        8         5
8           8  Abu Bakar   SID-9        9         8
9           9       Atif  SID-10       10         8


# Example 09

In [13]:
df = pd.read_csv('student.csv')

print(f"Describe Function \n {df.describe()}, \n head Function \n {df.head()} \n tail Function \n {df.tail()}")
print(f"\n info Function \n {df.info()}")

Describe Function
        Unnamed: 0   Rol1_no   Semester
count    10.00000  10.00000  10.000000
mean      4.50000   5.50000   6.700000
std       3.02765   3.02765   0.948683
min       0.00000   1.00000   5.000000
25%       2.25000   3.25000   6.000000
50%       4.50000   5.50000   7.000000
75%       6.75000   7.75000   7.000000
max       9.00000  10.00000   8.000000,
 head Function
    Unnamed: 0    Name     ID  Rol1_no  Semester
0           0    Aqsa  SID-1        1         7
1           1    Esha  SID-2        2         7
2           2  Ayesha  SID-3        3         7
3           3    Ayra  SID-4        4         7
4           4    Arfa  SID-5        5         6
 tail Function
    Unnamed: 0       Name      ID  Rol1_no  Semester
5           5       Afsa   SID-6        6         6
6           6      Abdul   SID-7        7         6
7           7     Saadia   SID-8        8         5
8           8  Abu Bakar   SID-9        9         8
9           9       Atif  SID-10       10         8
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   Name        10 non-null     object
 2   ID          10 non-null     object
 3   Rol1_no     10 non-null     int64
 4   Semester    10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 528.0+ bytes

 info Function
 None


# Example 10

In [14]:
df['Name']

0         Aqsa
1         Esha
2       Ayesha
3         Ayra
4         Arfa
5         Afsa
6        Abdul
7       Saadia
8    Abu Bakar
9         Atif
Name: Name, dtype: object


# Example 11

In [15]:


df['Name'][0]

'Aqsa'

# Example 12

In [16]:
df['Name'][0] = 'Saddam'
df

C:\Users\Hamad\AppData\Local\Temp\ipykernel_1796\2832195598.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Name'][0] = 'Saddam'

   Unnamed: 0       Name      ID  Rol1_no  Semester
0           0     Saddam   SID-1        1         7
1           1       Esha   SID-2        2         7
2           2     Ayesha   SID-3        3         7
3           3       Ayra   SID-4        4         7
4           4       Arfa   SID-5        5         6
5           5       Afsa   SID-6        6         6
6           6      Abdul   SID-7        7         6
7           7     Saadia   SID-8        8         5
8           8  Abu Bakar   SID-9        9         8
9           9       Atif  SID-10       10         8


# Example 13

In [17]:
df.columns
df.index

RangeIndex(start=0, stop=10, step=1)


# Example 14

In [20]:
s = pd.Series(np.random.rand(50))
print(s)
print(f"Using dtype: {s.dtype}")
print(f"Using type: {type(s)}")
print(f"Using Shape: {s.shape}")

0     0.222939
1     0.863592
2     0.189946
3     0.862627
4     0.980189
5     0.302412
6     0.458335
7     0.432194
8     0.330489
9     0.365245
10    0.877757
11    0.894162
12    0.717440
13    0.945792
14    0.090397
15    0.589476
16    0.835475
17    0.628037
18    0.014053
19    0.609218
20    0.326081
21    0.574370
22    0.591459
23    0.683247
24    0.522050
25    0.883299
26    0.089815
27    0.485478
28    0.306627
29    0.017486
30    0.296971
31    0.652775
32    0.878400
33    0.660504
34    0.972284
35    0.297361
36    0.019976
37    0.414041
38    0.292493
39    0.869202
40    0.373537
41    0.664137
42    0.697651
43    0.211329
44    0.902681
45    0.495697
46    0.589347
47    0.458377
48    0.976167
49    0.072095
dtype: float64
Using dtype: float64
Using type: <class 'pandas.core.series.Series'>
Using Shape: (50,)


# Example 15

In [21]:
dataf = pd.DataFrame(np.random.rand(50,5))
print(s)

0     0.222939
1     0.863592
2     0.189946
3     0.862627
4     0.980189
5     0.302412
6     0.458335
7     0.432194
8     0.330489
9     0.365245
10    0.877757
11    0.894162
12    0.717440
13    0.945792
14    0.090397
15    0.589476
16    0.835475
17    0.628037
18    0.014053
19    0.609218
20    0.326081
21    0.574370
22    0.591459
23    0.683247
24    0.522050
25    0.883299
26    0.089815
27    0.485478
28    0.306627
29    0.017486
30    0.296971
31    0.652775
32    0.878400
33    0.660504
34    0.972284
35    0.297361
36    0.019976
37    0.414041
38    0.292493
39    0.869202
40    0.373537
41    0.664137
42    0.697651
43    0.211329
44    0.902681
45    0.495697
46    0.589347
47    0.458377
48    0.976167
49    0.072095
dtype: float64


# Example 16

In [22]:
dataf.min()

0    0.001223
1    0.032850
2    0.009991
3    0.043222
4    0.026606
dtype: float64

In [23]:
dataf.max()

0    0.979658
1    0.989986
2    0.963565
3    0.927735
4    0.982934
dtype: float64

In [24]:
dataf.mean()

0    0.467999
1    0.478389
2    0.490478
3    0.489274
4    0.534458
dtype: float64

# Example 17

In [25]:


dataf[0].max()

0.9796575509967915


# Example 18

In [26]:


d1 = dataf.to_numpy()
d1

array([[0.39392973, 0.12113308, 0.19056957, 0.52017197, 0.85051685],
       [0.15928361, 0.47345678, 0.3298131 , 0.04322196, 0.33189267],
       [0.89143141, 0.93843448, 0.79137943, 0.22852222, 0.55732742],
       [0.0049302 , 0.32021058, 0.37644523, 0.05427185, 0.62028845],
       [0.32394904, 0.37287598, 0.47620438, 0.38538325, 0.3707111 ],
       [0.18443868, 0.14662671, 0.87095579, 0.21668269, 0.23844505],
       [0.93969257, 0.74940802, 0.84146987, 0.72266362, 0.2189712 ],
       [0.12721339, 0.89733124, 0.02112261, 0.30886174, 0.22442387],
       [0.10219852, 0.43078638, 0.22076475, 0.17216542, 0.48375871],
       [0.35299032, 0.22541713, 0.21341774, 0.23219547, 0.19048896],
       [0.12240348, 0.39477915, 0.6305587 , 0.68410478, 0.13528447],
       [0.212624  , 0.70527808, 0.54940528, 0.17786637, 0.2255272 ],
       [0.85324142, 0.37892116, 0.40461867, 0.14996509, 0.90560271],
       [0.16308186, 0.21680751, 0.87914652, 0.64031816, 0.5890761 ],
       [0.50278437, 0.80323389, 0.96356538, 0.57648577, 0.39056143],
       [0.16756098, 0.14519511, 0.81288095, 0.86877041, 0.86796284],
       [0.83796222, 0.05394224, 0.2883237 , 0.85725383, 0.18992721],
       [0.96571363, 0.29328428, 0.37429414, 0.35731375, 0.27382622],
       [0.06458577, 0.60619073, 0.57716931, 0.90996072, 0.80900882],
       [0.45160952, 0.67212066, 0.7701766 , 0.86407635, 0.32271818],
       [0.19487943, 0.35177524, 0.67917211, 0.69632461, 0.9829335 ],
       [0.72236247, 0.20645142, 0.04894535, 0.69111373, 0.52069874],
       [0.19905947, 0.98998599, 0.42600546, 0.48598058, 0.27995934],
       [0.97965755, 0.10853261, 0.80722806, 0.24241093, 0.75988246],
       [0.18294328, 0.70139416, 0.90603008, 0.92773456, 0.82083937],
       [0.80943758, 0.87972614, 0.32319649, 0.88795845, 0.21798175],
       [0.88513253, 0.97684913, 0.13084226, 0.13524759, 0.84183685],
       [0.64790279, 0.63510525, 0.51182792, 0.57941145, 0.42601934],
       [0.65745223, 0.7061331 , 0.19979296, 0.53273813, 0.10035066],
       [0.00122266, 0.12732229, 0.1908858 , 0.17911748, 0.89786106],
       [0.45197079, 0.76872754, 0.8790137 , 0.3949333 , 0.61599911],
       [0.10563172, 0.84205222, 0.26274228, 0.73613836, 0.11967375],
       [0.65476514, 0.15523366, 0.62464485, 0.49774047, 0.02660558],
       [0.72973075, 0.5901534 , 0.67245477, 0.15525894, 0.49069082],
       [0.92515661, 0.91989598, 0.13363527, 0.71187885, 0.95750692],
       [0.83228304, 0.74844279, 0.00999147, 0.68399564, 0.48214342],
       [0.0157947 , 0.03570166, 0.46315215, 0.6976823 , 0.64552159],
       [0.5816042 , 0.55801408, 0.85603262, 0.38506207, 0.90855725],
       [0.37915487, 0.11462266, 0.95914202, 0.12147789, 0.94620102],
       [0.19960959, 0.49334976, 0.1907765 , 0.3060711 , 0.48009533],
       [0.14097689, 0.37109793, 0.46468575, 0.31872154, 0.86508018],
       [0.59729073, 0.32909616, 0.2458093 , 0.37859111, 0.63502538],
       [0.16368813, 0.40081679, 0.93097763, 0.70842676, 0.84466989],
       [0.92348923, 0.53966508, 0.62050779, 0.19136678, 0.85671892],
       [0.89150377, 0.45297108, 0.50749535, 0.50307574, 0.17792911],
       [0.67287353, 0.34903694, 0.15481282, 0.86837612, 0.45175981],
       [0.18080536, 0.03285047, 0.11517441, 0.08653909, 0.93974933],
       [0.35321896, 0.04054917, 0.35783435, 0.74599441, 0.97716448],
       [0.81497893, 0.56974566, 0.48727888, 0.81415785, 0.43510799],
       [0.68375882, 0.97872785, 0.78155235, 0.82993591, 0.22199376]])

# Example 19

In [27]:
dataf.columns = ['A', 'B', 'C', 'D', 'E']
dataf

           A         B         C         D         E
0   0.393930  0.121133  0.190570  0.520172  0.850517
1   0.159284  0.473457  0.329813  0.043222  0.331893
2   0.891431  0.938434  0.791379  0.228522  0.557327
3   0.004930  0.320211  0.376445  0.054272  0.620288
4   0.323949  0.372876  0.476204  0.385383  0.370711
5   0.184439  0.146627  0.870956  0.216683  0.238445
6   0.939693  0.749408  0.841470  0.722664  0.218971
7   0.127213  0.897331  0.021123  0.308862  0.224424
8   0.102199  0.430786  0.220765  0.172165  0.483759
9   0.352990  0.225417  0.213418  0.232195  0.190489
10  0.122403  0.394779  0.630559  0.684105  0.135284
11  0.212624  0.705278  0.549405  0.177866  0.225527
12  0.853241  0.378921  0.404619  0.149965  0.905603
13  0.163082  0.216808  0.879147  0.640318  0.589076
14  0.502784  0.803234  0.963565  0.576486  0.390561
15  0.167561  0.145195  0.812881  0.868770  0.867963
16  0.837962  0.053942  0.288324  0.857254  0.189927
17  0.965714  0.293284  0.374294  0.357314  0.273826
18  0.064586  0.606191  0.577169  0.909961  0.809009
19  0.451610  0.672121  0.770177  0.864076  0.322718
20  0.194879  0.351775  0.679172  0.696325  0.982934
21  0.722362  0.206451  0.048945  0.691114  0.520699
22  0.199059  0.989986  0.426005  0.485981  0.279959
23  0.979658  0.108533  0.807228  0.242411  0.759882
24  0.182943  0.701394  0.906030  0.927735  0.820839
25  0.809438  0.879726  0.323196  0.887958  0.217982
26  0.885133  0.976849  0.130842  0.135248  0.841837
27  0.647903  0.635105  0.511828  0.579411  0.426019
28  0.657452  0.706133  0.199793  0.532738  0.100351
29  0.001223  0.127322  0.190886  0.179117  0.897861
30  0.451971  0.768728  0.879014  0.394933  0.615999
31  0.105632  0.842052  0.262742  0.736138  0.119674
32  0.654765  0.155234  0.624645  0.497740  0.026606
33  0.729731  0.590153  0.672455  0.155259  0.490691
34  0.925157  0.919896  0.133635  0.711879  0.957507
35  0.832283  0.748443  0.009991  0.683996  0.482143
36  0.015795  0.035702  0.463152  0.697682  0.645522
37  0.581604  0.558014  0.856033  0.385062  0.908557
38  0.379155  0.114623  0.959142  0.121478  0.946201
39  0.199610  0.493350  0.190777  0.306071  0.480095
40  0.140977  0.371098  0.464686  0.318722  0.865080
41  0.597291  0.329096  0.245809  0.378591  0.635025
42  0.163688  0.400817  0.930978  0.708427  0.844670
43  0.923489  0.539665  0.620508  0.191367  0.856719
44  0.891504  0.452971  0.507495  0.503076  0.177929
45  0.672874  0.349037  0.154813  0.868376  0.451760
46  0.180805  0.032850  0.115174  0.086539  0.939749
47  0.353219  0.040549  0.357834  0.745994  0.977164
48  0.814979  0.569746  0.487279  0.814158  0.435108
49  0.683759  0.978728  0.781552  0.829936  0.221994


# Example 20

In [28]:
dataf[['B', 'C']]

           B         C
0   0.121133  0.190570
1   0.473457  0.329813
2   0.938434  0.791379
3   0.320211  0.376445
4   0.372876  0.476204
5   0.146627  0.870956
6   0.749408  0.841470
7   0.897331  0.021123
8   0.430786  0.220765
9   0.225417  0.213418
10  0.394779  0.630559
11  0.705278  0.549405
12  0.378921  0.404619
13  0.216808  0.879147
14  0.803234  0.963565
15  0.145195  0.812881
16  0.053942  0.288324
17  0.293284  0.374294
18  0.606191  0.577169
19  0.672121  0.770177
20  0.351775  0.679172
21  0.206451  0.048945
22  0.989986  0.426005
23  0.108533  0.807228
24  0.701394  0.906030
25  0.879726  0.323196
26  0.976849  0.130842
27  0.635105  0.511828
28  0.706133  0.199793
29  0.127322  0.190886
30  0.768728  0.879014
31  0.842052  0.262742
32  0.155234  0.624645
33  0.590153  0.672455
34  0.919896  0.133635
35  0.748443  0.009991
36  0.035702  0.463152
37  0.558014  0.856033
38  0.114623  0.959142
39  0.493350  0.190777
40  0.371098  0.464686
41  0.329096  0.245809
42  0.400817  0.930978
43  0.539665  0.620508
44  0.452971  0.507495
45  0.349037  0.154813
46  0.032850  0.115174
47  0.040549  0.357834
48  0.569746  0.487279
49  0.978728  0.781552


# Example 21

In [29]:
dataf.iloc[:, 0:2]

           A         B
0   0.393930  0.121133
1   0.159284  0.473457
2   0.891431  0.938434
3   0.004930  0.320211
4   0.323949  0.372876
5   0.184439  0.146627
6   0.939693  0.749408
7   0.127213  0.897331
8   0.102199  0.430786
9   0.352990  0.225417
10  0.122403  0.394779
11  0.212624  0.705278
12  0.853241  0.378921
13  0.163082  0.216808
14  0.502784  0.803234
15  0.167561  0.145195
16  0.837962  0.053942
17  0.965714  0.293284
18  0.064586  0.606191
19  0.451610  0.672121
20  0.194879  0.351775
21  0.722362  0.206451
22  0.199059  0.989986
23  0.979658  0.108533
24  0.182943  0.701394
25  0.809438  0.879726
26  0.885133  0.976849
27  0.647903  0.635105
28  0.657452  0.706133
29  0.001223  0.127322
30  0.451971  0.768728
31  0.105632  0.842052
32  0.654765  0.155234
33  0.729731  0.590153
34  0.925157  0.919896
35  0.832283  0.748443
36  0.015795  0.035702
37  0.581604  0.558014
38  0.379155  0.114623
39  0.199610  0.493350
40  0.140977  0.371098
41  0.597291  0.329096
42  0.163688  0.400817
43  0.923489  0.539665
44  0.891504  0.452971
45  0.672874  0.349037
46  0.180805  0.032850
47  0.353219  0.040549
48  0.814979  0.569746
49  0.683759  0.978728


# Example 22

In [30]:
dataf.loc[:, 'A':'C']

           A         B         C
0   0.393930  0.121133  0.190570
1   0.159284  0.473457  0.329813
2   0.891431  0.938434  0.791379
3   0.004930  0.320211  0.376445
4   0.323949  0.372876  0.476204
5   0.184439  0.146627  0.870956
6   0.939693  0.749408  0.841470
7   0.127213  0.897331  0.021123
8   0.102199  0.430786  0.220765
9   0.352990  0.225417  0.213418
10  0.122403  0.394779  0.630559
11  0.212624  0.705278  0.549405
12  0.853241  0.378921  0.404619
13  0.163082  0.216808  0.879147
14  0.502784  0.803234  0.963565
15  0.167561  0.145195  0.812881
16  0.837962  0.053942  0.288324
17  0.965714  0.293284  0.374294
18  0.064586  0.606191  0.577169
19  0.451610  0.672121  0.770177
20  0.194879  0.351775  0.679172
21  0.722362  0.206451  0.048945
22  0.199059  0.989986  0.426005
23  0.979658  0.108533  0.807228
24  0.182943  0.701394  0.906030
25  0.809438  0.879726  0.323196
26  0.885133  0.976849  0.130842
27  0.647903  0.635105  0.511828
28  0.657452  0.706133  0.199793
29  0.001223  0.127322  0.190886
30  0.451971  0.768728  0.879014
31  0.105632  0.842052  0.262742
32  0.654765  0.155234  0.624645
33  0.729731  0.590153  0.672455
34  0.925157  0.919896  0.133635
35  0.832283  0.748443  0.009991
36  0.015795  0.035702  0.463152
37  0.581604  0.558014  0.856033
38  0.379155  0.114623  0.959142
39  0.199610  0.493350  0.190777
40  0.140977  0.371098  0.464686
41  0.597291  0.329096  0.245809
42  0.163688  0.400817  0.930978
43  0.923489  0.539665  0.620508
44  0.891504  0.452971  0.507495
45  0.672874  0.349037  0.154813
46  0.180805  0.032850  0.115174
47  0.353219  0.040549  0.357834
48  0.814979  0.569746  0.487279
49  0.683759  0.978728  0.781552

# Example 23

In [31]:
dataf.iloc[0:12, 2:4]

           C         D
0   0.190570  0.520172
1   0.329813  0.043222
2   0.791379  0.228522
3   0.376445  0.054272
4   0.476204  0.385383
5   0.870956  0.216683
6   0.841470  0.722664
7   0.021123  0.308862
8   0.220765  0.172165
9   0.213418  0.232195
10  0.630559  0.684105
11  0.549405  0.177866